/* Sidebar Content Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    padding-left: 10px; 
    border-right: 4px solid #4A90E2;
}

.sidebar h2 {
    padding: 20px;
    color: white; 
    text-align: left;
    font-size: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    text-align: left;
}

.sidebar ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color changes */
}

.sidebar ul li a:hover {
    background-color: #4A90E2; 
    color: white; 
}

/* Main Content Styles */
.container {
    margin-left: 250px; 
    padding: 20px;
}

.content {
    padding: 30px; /* Adjusting Insights position */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

p, table {
    color: #333;
    margin: 20px auto;
}

.container h1 {
    text-align: center;
}

.container p, ul {
    max-width: 500px;
}

.container p {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.container ul {
    text-align: left;
    margin: 50px auto;
    font-size: 15px;
    color: #494747; 
    list-style-position: inside;
    padding-left: 100px;
}

form {
    max-width: 500px;
    margin: 40px auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    padding-top: 5px;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

select {
    border: 1px solid #c6ebdf;
}

input[type="submit"] {
    background-color: #1c60d5;
    border: 1px solid #0440a8;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0440a8;
}

.container h3 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
}

.table-container {
    margin: 30px auto;
    max-width: 800px;
    max-height: 400px; 
    overflow-y: scroll; 
    margin-top: 10px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td {
    background-color: #fafafa;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

